#about_us {
    padding-top: 0rem;
    @include centered;
    
    .container {
        width: 100%;
        background-color: white;
        text-align:center;
        position: relative;
        overflow: hidden;

    }
}
