#company_profile {
    padding-top: 0rem;
    @include centered;
    
    .container {
        background-color: white;
        text-align:center;
        position: relative;
        overflow: hidden;

        h1 {
            margin-top: 95px;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            color: #585858;
        }
    }
}

.company_profile_title{
    width: 464px;
    height: 52px;
    margin: auto;
    font-family: 'DIN Pro Bold', sans-serif;
}

.company_profile_rectangle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 68px;
    height: 9px;
    background-color: #585858;
}

.company_profile_description{
    width: 765px;
    height: 100px;
    margin: auto;
    margin-top: 37px;
    font-family: 'DIN Pro Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #585858;
    display: flex;
    align-items: center;
    text-align: justify;
}

.company_profile_wrapper {
    
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0rem;

    @include devices(lg) {
        grid-template-columns: 1fr;
        gap: 0rem;
    }
}

.company_profile_left_col {
    margin-top: 190px;

    .paragraph {
        width: 576px;
        height: 290px;
        margin-left: 98px;
        font-family: 'DIN Pro Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #585858;
        display: flex;
        align-items: center;
        text-align: justify;
        
    }
}

.company_profile_right_col {
    margin-top: 224px;
    margin-bottom: 318px;

    img {
        float:right;
    }

    .border-box{
        position: absolute;
        left: 936px;
        top: 714px;
        width: 537px;
        height: 433px;
        right: -12px;
        box-sizing: border-box;
        border: 6px solid #777978;
    }
}