#corporate_goals {
    padding-top: 0rem;
    @include centered;
    
    .container {
        background-color: white;
        text-align:center;
        position: relative;
        overflow: hidden;

        h1 {
            margin-top: 95px;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            color: #585858;
        }
    }
}

.corporate_goals_title{
    width: 464px;
    height: 52px;
    margin: auto;
    font-family: 'DIN Pro Bold', sans-serif;
}

.corporate_goals_rectangle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 68px;
    height: 9px;
    background-color: #585858;
}

.corporate_goals_description{
    width: 765px;
    margin: auto;
    margin-top: 37px;
    font-family: 'DIN Pro Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #585858;
    display: flex;
    align-items: center;
    text-align: justify;
}

.corporate_goals_wrapper {
    padding-top: 39px;
    padding-bottom: 318px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0rem;

    @include devices(lg) {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    
}

.corporate_goals_img {
    float:right;
}

.corporate_goals_left_col {

    .paragraph {
        width: 390px;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        
        color: #D30000;
        
    }
    
    .border-box{
        position: absolute;
        left: -31px;
        top: 740px;
        width: 518px;
        height: 368px;
        right: -12px;
        box-sizing: border-box;
        border: 8px solid #D30000;
    }
}

.corporate_goals_right_col {
    
    .paragraph {
        width: 565px;
        margin-left: 98px;
        font-family: 'DIN Pro Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #585858;
        display: flex;
        align-items: center;
        text-align: justify;
        
    }

    
}