#corporate_goals {
    padding-top: 0rem;
    @include centered;
    
    .container {
        width: 100%;
        background-color: white;
        text-align:center;
        position: relative;
        overflow: hidden;

        
    }
}

.corporate_goals_info_wrapper{
    margin-top: 132px;

    h1 {
            
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        color: #585858;
    }
}

.corporate_goals_title{
    width: 675px;
    height: 52px;
    margin: auto;
    font-family: 'DIN Pro Bold', sans-serif;
}

.corporate_goals_rectangle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 68px;
    height: 9px;
    background-color: #585858;
}

.corporate_goals_description{
    max-width: 786px;
    height: 249px;
    margin: auto;
    margin-top: 45px;
    font-family: 'DIN Pro Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.1px;
    color: #585858;
    align-items: center;
    text-align: justify;

    strong {
        font-weight: 700;
    }
}

.corporate_goals_wrapper {
    //padding-top: 44px;
    //padding-bottom: 164px;
    
    display: grid;
    grid-template-columns: 743px auto;
    gap: 0rem;

    @include devices(lg) {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    
}

.corporate_goals_img {
    float:right;
    max-width: 632px;
    height: 420px;
    margin-right: 226px;
    margin-top: 103px;
    margin-bottom: 134px;
}

.corporate_goals_left_col {
    
    .border-box{
        position: relative;
        margin-left: 305px;
        margin-top: 5px;
        max-width: 518px;
        min-height: 407px;
        box-sizing: border-box;
        border: 8px solid #D30000;
    }

    .paragraph {
        padding-top: 62px;
        padding-left: 62px;
        max-width: 390px;
        font-family: 'DIN Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        text-align: left;
        color: #D30000;
    }

    .paragraph:nth-child(2) {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 26px;
        color: #585858;
    }
}

.corporate_goals_right_col {
    
    .paragraph {
        max-width: 598px;
        margin-left: 56px;
        margin-top: 40px;
        padding-right: 30px;
        font-family: 'DIN Pro Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #585858;
        display: flex;
        align-items: center;
        text-align: justify;
        
    }

    .paragraph:first-child {
        margin-bottom: 3rem;
    }

}