#hero {
    min-height: 850px;
    @include centered;

    .swiper {
        
        @include margin-x(0.0rem, 0.0rem);
        @include margin-y(0.0rem, 0.0rem);
        @include padding-x(0.0rem, 0.0rem);
        @include padding-y(0rem, 0rem);
    }

    .swiper-pagination {
        bottom: 228px;
    }
}

.hero_wrapper {
    position: relative;
    place-content: center;
    place-items: center;

    &::before {
        @include pseudo($top: 10%);
        font-size: 15rem;
        font-weight: 700;
        opacity: 0.05;

        @include devices(xl) {
            font-size: 12rem;
        }

        @include devices(sm) {
            font-size: 8rem;
        }
    }

    @include devices(lg) {
        grid-template-columns: 0.7fr;
        gap: 4rem;
    }

    @include devices(sm) {
        grid-template-columns: 0.9fr;
        gap: 2rem;
    }
}

.hero_item_img {
    position: relative;
}

.hero_over_item {
    left: 0;
    right: 0;
	z-index: 10000;
    color: #ffffff;
    background:linear-gradient(180deg, #585858 0%, rgba(67, 99, 126, 0) 100%);
    justify-content: center;

    .hero_item_mark {
        
        margin-top: 0px;
    }

    .hero_item_line {
        margin-top: 20px;
        width: 615px;
        height: 4px;
        background-color: #ffffff;
    }

    .hero_item_company_text {
        left: 0;
        right: 0;
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .hero_item_slug_text {
        margin-top: 20px;
        font-size: 1rem;
    }
}






.hero_item_txt {
    text-shadow: var(--text-shadow);

    h1 {
        font-size: 3rem;
        text-transform: capitalize;
        word-spacing: 3px;
        @include margin-y(0.8rem, 1rem);

        @include devices(xl) {
            font-size: 2.4rem;
        }

        @include devices(sm) {
            font-size: 1.8rem;
        }

        @include devices(xs) {
            font-size: 1.5rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 600;

        @include devices(sm) {
            font-size: 1rem;
        }
    }

    .hero_price {
        @include margin-y(2rem, 3rem);

        @include devices(sm) {
            @include margin-y(1.5rem, 2rem);
        }
    }

}

.hero_item_img {
    overflow: hidden;
    width: 1440px;
    height: 850px;

    img {
        @include img-fit;
    }

    @include devices(lg) {
        grid-row: 1;
    }

    @include devices(sm) {
        max-width: 18rem;
        width: 75%;
    }
}