#logistics {
    padding-top: 0rem;
    @include centered;
    
    .container {
        width: 100%;
        background-color: white;
        text-align:center;
        position: relative;
        overflow: hidden;

        h1 {
            margin-top: 135px;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            color: #585858;
        }
    }
}

.logistics_title{
    width: 941px;
    height: 58px;
    margin: auto;
    font-family: 'DIN Pro Bold', sans-serif;
}

.logistics_rectangle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    width: 68px;
    height: 9px;
    background-color: #585858;
}

.logistics_description{
    font-family: 'DIN Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #585858;
    max-width: 613px;
    height: 127px;
    margin: auto;
    margin-top: 64px;
}

.logistics_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
    width: 100%;
    
    .logistics_card {
        width: 326px;

        img {
            width: 327px;
            height: 200px;
        }
    
        .logistics_card_text{
            width: 100%;
            height: 181px;
            font-family: 'DIN Pro Regular', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: justify;
            color: #000000;
            margin-top: 37px;
            margin-bottom: 54px;
        }

        .card_button{
            width: 143px;
            height: 48px;
            font-family: inherit;
            margin: 0 auto;
        }
    }
}

.logistics_slogan{
    position: relative;
    width: 100%;
    height: 381px;
    margin: 161px 0 157px 0;
    text-align: center;

    .logistics_slogan_content{
        position: absolute;
        max-width: 849px;
        font-family: 'DIN Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.logistics_contact_wrapper{
    display: grid;
    grid-template-columns: 50% auto;
    margin-bottom: 280px;
    
    .contact_left_column{
        padding-left: 255px;
        padding-top: 36px;

        .contact_title{
            margin: 0;
            width: 616px;
            font-family: 'DIN Pro Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 36px;
            color: #585858;
            text-align: left;
        }

        .contact_content{
            margin-top: 80px;
            margin-bottom: 40px;
            width: 419px;
            height: 127px;
            font-family: 'DIN Pro Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            color: #585858;

            text-align: left;
        }

        .contact_button{
            float: left;
            width: 290px;
            height: 66px;
            margin-left: 0px;
            font-family: inherit;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .contact_right_column{
       
    }
}

