#home {
    @include centered;

    .container {
        width: 100%;
        
        min-width: 640px;
        position: relative;
    }

    .swiper-pagination {
        bottom: 26.3%;
    }

    .home_wrapper {
        width: 100%;
        //place-content: center;
        //place-items: center;

        .slider_container{
            margin: 0;
            padding: 0;

            img {
                //@include img-fit;
                position: relative;
                display: block;
                overflow: hidden;
                width: 100%;
                height: auto;
            }
        }
        
        .slider_hover_caption {
            position: absolute;
            width: 100%;
            z-index: 999;
            color: #ffffff;

            .hover_caption{
                position: relative;
                font-family: 'DIN Pro Regular', sans-serif;

                .hover_mark {
                    margin-left: 46.85%;
                    margin-top: 8.2%;
                }
    
                .hover_company_text {
                    margin-top: 31px;
                    font-size: 1.67rem;
                    text-align: center;
                }
            
                .hover_line {
                    margin-top: 19px;
                    margin-left: auto;
                    margin-right: auto;             
                    width: 615px;
                    height: 4px;
                    background: #ffffff;
                }
            
                .hover_slug_text {
                    margin-top: 19px; 
                    //left: 50%;
                    //transform: translate(-50%);
                    font-size: 1.35rem;
                    text-align: center;
                }
            }
        }
    }
}
