// For screens smaller than 768px (mobile)
@media only screen and (max-width: 767px) {
    #about_company {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            height: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;
        }
    }

    .about_company_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: #646464;
        text-align: left;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 66px;
        padding-bottom: 144px;

        .paragraph_text {
            font-family: 'Din Pro Bold';
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            text-align: justify;
        }

        ul li {
            margin-left: 1rem;
            list-style-type: disc;
            text-align: left;
        }

        .paragraph {
            margin-top: 48px;
            font-size: 12px;
            line-height: 15px;
        }

        .subtitle {
            margin-top: 1rem;
            line-height: 20px;
        }

        .detail {
            margin-top: 1rem;

            h4 {
                font-family: 'Din Pro Regular';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }

        .info {
            display: block;
            text-align: left;
            margin-top: 48px;

            .contact {
                margin-top: 0px;
                line-height: 20px;
            }

            .comment {
                margin-top: 24px;
                line-height: 20px;
            }
        }

        .apply_button {
            margin-top: 81px;
            width: 100%;
            height: 52px;
        }
    }
}

// For screens larger than 768px (desktop)
@media only screen and (min-width: 768px) {
    #about_company {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            height: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;
        }
    }


.about_company_wrapper{
    max-width: 828px;
    height: 100%;
    margin-top: 135px;
    margin-bottom: 135px;
    margin-left: auto;
    margin-right: auto;
    //padding: 138px 309px 200px 303px;
    color: #646464;
    text-align: left;
    
    .paragraph_text{
        font-family: 'Din Pro Bold';
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
    }

        ul li {
            margin-left: 1rem;
            list-style-type: disc;
            text-align: left;
        }

        .paragraph {
            margin-top: 48px;

        }

        .subtitle {
            margin-top: 1rem;
            line-height: 20px;
        }

        .detail {
            margin-top: 1rem;

        h4{
            font-family: 'Din Pro Regular';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

        .info {
            display: block;
            text-align: left;
            margin-top: 48px;

            .contact {
                margin-top: 0px;
                line-height: 20px;
            }

            .comment {
                margin-top: 24px;
                line-height: 20px;
            }
        }

        .apply_button {
            margin-top: 81px;
            width: 202px;
            height: 52px;
        }
    }
}