// For screens smaller than 768px (mobile)
@media only screen and (max-width: 767px) {
    #corporate_goals {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;
            padding-bottom: 239px;

            .corporate_goals_info_wrapper {
                margin-top: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .corporate_goals_title {
                    width: 100%;
                    padding: 0px 30px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    color: #585858;
                }

                .corporate_goals_rectangle {
                    margin-top: 26px;
                    width: 68px;
                    height: 4px;
                    background-color: #585858;
                }

                .corporate_goals_description {
                    margin-top: 39px;
                    padding: 0px 30px 0px 30px;
                    width: 100%;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 179.3%;
                    text-align: left;
                    color: #585858;
                }
            }

            .corporate_goals_wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;

                .corporate_goals_left_col {
                    margin-top: 90px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    width: 100%;
                    height: 351px;

                    .paragraph {
                        width: 100%;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23px;
                        text-align: right;
                        color: #D30000;
                        overflow-wrap: break-word;
                    }

                    .border-box {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 24px 26px 25px 77px;
                        width: 290px;
                        height: 100%;
                        box-sizing: border-box;
                        border: 6px solid #D30000;
                        border-right: none;
                    }
                }

                .corporate_goals_right_col {
                    margin-top: 90px;
                    padding: 0px 30px 50px 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 45px;
                    width: 100%;

                    .paragraph {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 179.3%;
                        display: flex;
                        align-items: center;
                        text-align: justify;
                        color: #000000;
                    }
                }
            }
        }

        .corporate_goals_img {
            position: absolute;
            right: -13px;
            width: 303px;
            height: 207px;
        }
    }
}

// For screens larger than 768px (desktop)
@media only screen and (min-width: 768px) {
    #corporate_goals {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;


        }
    }

    .corporate_goals_info_wrapper {
        margin-top: 132px;

        h1 {

            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            color: #585858;
        }
    }

    .corporate_goals_title {
        width: 675px;
        height: 52px;
        margin: auto;
        font-family: 'DIN Pro Bold', sans-serif;
    }

    .corporate_goals_rectangle {
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        width: 68px;
        height: 9px;
        background-color: #585858;
    }

.corporate_goals_description{
    max-width: 786px;
    height: 249px;
    margin: auto;
    margin-top: 45px;
    font-family: 'DIN Pro Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.1px;
    color: #585858;
    align-items: center;
    text-align: justify;

        strong {
            font-weight: 700;
        }
    }

    .corporate_goals_wrapper {
        //padding-top: 44px;
        //padding-bottom: 164px;

        display: grid;
        grid-template-columns: 743px auto;
        gap: 0rem;

        @include devices(lg) {
            grid-template-columns: 1fr;
            gap: 0rem;
        }


    }

    .corporate_goals_img {
        float: right;
        max-width: 632px;
        height: 420px;
        margin-right: 226px;
        margin-top: 103px;
        margin-bottom: 134px;
    }

.corporate_goals_left_col {
    
    .border-box{
        position: relative;
        margin-left: 305px;
        margin-top: 55px;
        max-width: 518px;
        min-height: 457px;
        box-sizing: border-box;
        border: 8px solid #D30000;
    }

    .paragraph {
        padding-top: 82px;
        padding-left: 62px;
        max-width: 390px;
        font-family: 'DIN Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        text-align: left;
        color: #D30000;
    }

        .paragraph:nth-child(2) {
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 26px;
            color: #585858;
        }
    }

.corporate_goals_right_col {
    
    .paragraph {
        max-width: 598px;
        margin-left: 56px;
        margin-top: 60px;
        padding-right: 30px;
        font-family: 'DIN Pro Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #585858;
        display: flex;
        align-items: center;
        text-align: justify;
        
    }

        .paragraph:first-child {
            margin-bottom: 3rem;
        }

    }
}