#hero {
    @include centered;
    .swiper {
        @include margin-x(0.0rem, 0.0rem);
        @include margin-y(0.0rem, 0.0rem);
        @include padding-x(0.0rem, 0.0rem);
        @include padding-y(0rem, 0rem);
    }

    .swiper-pagination {
        bottom: 228px;
    }
}

.hero_wrapper {
    place-content: center;
    place-items: center;
    position: relative;

    &::before {
        @include pseudo($top: 10%);
        font-size: 15rem;
        font-weight: 700;
        opacity: 0.05;

        @include devices(xl) {
            font-size: 12rem;
        }

        @include devices(sm) {
            font-size: 8rem;
        }
    }

    @include devices(lg) {
        grid-template-columns: 0.7fr;
        gap: 4rem;
    }

    @include devices(sm) {
        grid-template-columns: 0.9fr;
        gap: 2rem;
    }
}

.hero_over_item {
    z-index: 10000;
    color: #ffffff;

    .hero_item_mark {
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translate(-50%);
    }

    .hero_item_line {
        position: absolute;
        top: 411px;
        width: 615px;
        height: 4px;
        left: 50%;
        transform: translate(-50%);
        background: #ffffff;
    }

    .hero_item_company_text {
        position: absolute;
        top: 340px;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.65rem;
    }

    .hero_item_slug_text {
        position: absolute;
        top: 437px;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.3rem;
    }
}


.hero_item_txt {
    text-shadow: var(--text-shadow);

    h1 {
        font-size: 3rem;
        text-transform: capitalize;
        word-spacing: 3px;
        @include margin-y(0.8rem, 1rem);

        @include devices(xl) {
            font-size: 2.4rem;
        }

        @include devices(sm) {
            font-size: 1.8rem;
        }

        @include devices(xs) {
            font-size: 1.5rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 600;

        @include devices(sm) {
            font-size: 1rem;
        }
    }

    .hero_price {
        @include margin-y(2rem, 3rem);

        @include devices(sm) {
            @include margin-y(1.5rem, 2rem);
        }
    }

}

.hero_item_img {
    overflow: hidden;
    width: 1440px;
    height: calc(100vh - (108px + 300px));

    img {
        @include img-fit;
    }

    @include devices(lg) {
        grid-row: 1;
    }

    @include devices(sm) {
        max-width: 18rem;
        width: 75%;
    }
}