// For screens smaller than 768px (mobile)
@media only screen and (max-width: 767px) {
    #menu_page {
        padding-top: 0rem;
        -webkit-animation: moveFromTop 1s ease both;
        animation: moveFromTop 1s ease both;
    }

    @keyframes moveFromTop {
        from {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }

    .menu_page_wrapper {
        background-color: #F1F1F1;
        display: flex;
        flex-direction: column;
        width: 100vw;

        .menu_page_left_col {
            width: 100%;
            height: calc((100vh - 131px) / 2);
            background: url(../../../../public/images/menu/menu_sidebar.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .menus {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 50vw;
                padding-top: 23px;

                .menu-items {
                    position: relative;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    color: #FFFFFF;

                    button {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding-left: 26px;
                        width: 100%;
                        height: 38px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        color: #FFFFFF;
                    }

                    button:hover {
                        padding-left: 9px;
                        background: #FFFFFF;
                        color: #585858;
                    }

                    button:hover::before {
                        padding-right: 11px;
                        content: '•';
                    }

                    .dropdown {
                        position: absolute;
                        left: calc(50vw + 19px);
                        top: 0px;
                        display: none;
                        flex-direction: column;
                        gap: 10px;
                        width: calc(50vw - 19px);

                        .submenu {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            height: 38px;

                            a {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 15px;
                                color: #FFFFFF;
                            }
                        }
                    }

                    .dropdown.show {
                        display: flex;
                    }
                }
            }
        }

        .menu_page_right_col {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding-top: 35px;
            padding-left: 30px;
            padding-right: 30px;

            .menu_page_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    width: 100%;
                    height: 181px;
                }
            }

            .menu_page_text {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
        }
    }


}

// For screens larger than 768px (desktop)
@media only screen and (min-width: 768px) {
    #menu_page {
        padding-top: 0rem;
        -webkit-animation: moveFromTop 1s ease both;
        animation: moveFromTop 1s ease both;
    }

    @keyframes moveFromTop {
        from {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }

    .menu_page_wrapper {
        background-color: #F1F1F1;
        -moz-box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);

        display: grid;
        grid-template-columns: 481px auto;
        gap: 0rem;

        @include devices(lg) {
            grid-template-columns: 1fr;
            gap: 0rem;
        }
    }

    .menu_page_left_col {

        .menus {
            display: flex;
            align-items: left;
            flex-wrap: wrap;
            list-style: none;
            flex-direction: column;
            background: url(../../../../public/images/menu/menu_sidebar.png);
            width: 480px;
            height: 737px;
            padding-top: 73px;
        }

        .menu-items {
            position: relative;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            width: 242px;
            height: 38px;
            color: #FFFFFF;
        }

        .menu-items a {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            height: 100%;
            text-decoration: none;

        }

        .menu-items button {
            display: flex;
            color: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            flex-direction: column;
        }

        .menu-items>a,
        .menu-items button {
            text-align: left;
            height: inherit;
            padding: 0.7rem 1rem;

        }

        .menu-items a:hover,
        .menu-items button:hover {
            background-color: #ffffff;
            color: #585858;
        }

        .menu-items .submenu {
            width: 221px;
            height: 42px;
            margin-left: 5px;
        }

        .menu-items .submenu a:hover,
        .menu-items .submenu button:hover {
            background-color: transparent;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 6px;
        }

        .dropdown {
            position: absolute;
            left: 242px;
            top: 0px;
            font-size: 0.875rem;
            z-index: 9999;
            min-width: 10rem;
            list-style: none;
            display: none;
        }

        .dropdown.show {
            display: block;
        }
    }

    .menu_page_right_col {

        .menu_page_img {
            margin: 75px 86px 36px 104px;

            img {
                @include img-fit;
                width: 771px;
                height: 423px;
            }

            @include devices(sm) {
                grid-row: 1;
            }
        }

        .menu_page_text {
            margin-left: 104px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
    }
}