// For screens smaller than 768px (mobile)
@media only screen and (max-width: 767px) {
    #production {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;

            .desktop_image {
                display: none;
            }

            .production_info_wrapper {
                margin-top: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .production_title {
                    width: 100%;
                    padding: 0px 30px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    color: #585858;
                }

                .production_rectangle {
                    margin-top: 26px;
                    width: 68px;
                    height: 4px;
                    background-color: #585858;
                }

                .production_description {
                    margin-top: 38px;
                    width: 100%;
                    position: relative;

                    img {
                        width: 50%;
                        height: auto;
                    }

                    .desc_text1,
                    .desc_text2,
                    .desc_text3,
                    .desc_text4,
                    .desc_text5,
                    .desc_text6,
                    .desc_text7,
                    .desc_text8 {
                        position: absolute;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 6px;
                        line-height: 8px;
                        text-align: right;

                        color: #3E4347;
                    }

                    .desc_text1 {
                        text-align: center;
                        top: -21px;
                        left: 41%;
                    }

                    .desc_text2 {
                        text-align: left;
                        top: 25px;
                        right: 12%;
                    }

                    .desc_text3 {
                        text-align: left;
                        top: 68px;
                        right: 7%;
                    }

                    .desc_text4 {
                        text-align: left;
                        top: 116px;
                        right: 17%;
                    }

                    .desc_text5 {
                        text-align: center;
                        top: 157px;
                        left: 43%;
                    }

                    .desc_text6 {
                        text-align: right;
                        top: 116px;
                        left: 4%;
                    }

                    .desc_text7 {
                        text-align: right;
                        top: 74px;
                        left: 4%;
                    }

                    .desc_text8 {
                        text-align: right;
                        top: 27px;
                        left: 13%;
                    }
                }
            }

            .production_wrapper {
                margin-top: 27px;
                display: flex;
                flex-direction: column;

                .production_left_col {
                    padding: 36px 40px 36px 40px;
                    background-color: #777978;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .paragraph {
                        font-style: normal;
                        font-size: 12px;
                        line-height: 148.8%;
                        color: #FFFFFF;
                        text-align: left;
                    }

                    .paragraph-1 {
                        font-weight: 700;
                    }

                    .paragraph-2 {
                        font-weight: 400;
                    }
                }

                .production_right_col {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 418px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .production_slogan {
                margin-top: 43px;
                padding: 0px 50px;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #D30000;
            }

            .production_slogan_content {
                margin-top: 50px;
                padding: 0px 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 179.3%;
                    text-align: justify;
                    color: #000000;
                }
            }

            .production_dosage {
                display: none;
            }
        }
    }

    .production_dosage_draw {
        position: relative;
        padding-top: 133px;
        padding-bottom: 296px;
        max-width: 390px;

        .production_dosage_title {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #585858;
            padding-bottom: 80px;
        }

        .production_dosage_curve_lines {
            position: absolute;
            right: -40px;
            margin-top: 75px;
            width: 216px;
            height: 1892px;

            img {
                height: 100%;
            }
        }

        .production_dosage_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 28px;
            padding-right: 28px;

            .production_dosage_column {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .subtitle {
                    text-align: center;
                    font-family: 'DIN Pro Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #D30000;
                    margin-bottom: 35px;
                }

                .dosage_image {
                    width: 160px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    img {
                        width: 160px;
                        height: 100%;
                    }
                }
            }

            .production_dosage_column:nth-child(1) {
                height: 610px;
            }

            .production_dosage_column:nth-child(2) {
                height: 613px;
            }

            .production_dosage_column:nth-child(3) {
                height: 685px;
            }

            .production_dosage_column:nth-child(4) {}

            .production_dosage_column_box {
                border-right: 1px solid #D30000;
                padding-left: 28px;
                width: 100%;
            }

            ul li {
                text-align: left;
                list-style: disc outside none;
                color: #000000;

                span {
                    line-height: 1.5rem !important;
                    word-wrap: break-word;
                    font-family: 'DIN Pro Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;
                    word-wrap: break-word;
                    color: #000000;
                }
            }

        }
    }
}

// For screens larger than 768px (desktop)
@media only screen and (min-width: 768px) {
    #production {
        padding-top: 0rem;
        @include centered;
        
        .container {
            width: 100%;
            background-color: white;
            text-align:center;
            position: relative;
            overflow: hidden;
    
            h1 {
                margin-top: 156px;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 32px;
                text-align: center;
                color: #585858;
            }
        }
    }
    
    .production_title{
        width: 464px;
        height: 52px;
        margin: auto;
        font-family: 'DIN Pro Bold', sans-serif;
    }
    
    .production_rectangle {
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        width: 68px;
        height: 9px;
        background-color: #585858;
    }
    
    .production_description {
        width: 823px;
        height: 462px;
        margin: auto;
        margin-top: 77px;
        position: relative;

        .description {
            transition: transform 0.3s ease;
        }

        .description:hover {
            cursor: pointer;
            color: rgb(18, 18, 51);
            transform: scale(1.1);
        }

        .desc_text1,
        .desc_text2,
        .desc_text3,
        .desc_text4,
        .desc_text5,
        .desc_text6,
        .desc_text7,
        .desc_text8 {
            position: absolute;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-align: right;

            color: #3E4347;
        }

        .desc_text1 {
            text-align: center;
            top: -45px;
            left: 41%;
        }

        .desc_text2 {
            text-align: left;
            top: 63px;
            right: 9%;
        }

        .desc_text3 {
            text-align: left;
            top: 164px;
            right: 4%;
        }

        .desc_text4 {
            text-align: left;
            top: 265px;
            right: 14%;
        }

        .desc_text5 {
            text-align: center;
            top: 355px;
            left: 42%;
        }

        .desc_text6 {
            text-align: right;
            top: 265px;
            left: 0%;
        }

        .desc_text7 {
            text-align: right;
            top: 164px;
            left: 0%;
        }

        .desc_text8 {
            text-align: right;
            top: 55px;
            left: 10%;
        }
    }
    
    .production_wrapper {
        margin-top: 113px;
        display: grid;
        grid-template-columns: 50% auto;
        gap: 0rem;
    
        @include devices(lg) {
            grid-template-columns: 1fr;
            gap: 0rem;
        }
    
        .production_left_col {
            display: flex;
            flex-direction: column;
            height: 504px;
            background-color: #777978;
            padding-left: 104px;
            padding-right: 78px;
        
            .paragraph {
                max-width: 769px;
                font-style: normal;
                font-size: 14px;
                color: #FFFFFF;
            }
        
            .paragraph:nth-child(1){
                margin-top: 82px;
                max-width: 769px;
                font-weight: 700;
                font-family: 'DIN Pro Bold';
                line-height: 21px;
                text-align: left;
                padding-bottom: 2rem;
                
            }
        
            .paragraph:nth-child(2){
                max-width: 737px;
                font-family: 'DIN Pro Regular';
                font-weight: 400;
                text-align: justify;
                line-height: 24px;
            }
        }
        
        .production_right_col {
            height: 504px;
            
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    
    .production_slogan{
        max-width: 885px;
        height: 126px;
        margin: auto;
        margin-top: 137px;
        font-family: 'DIN Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    
        color: #D30000;
    }
    
    .production_slogan_content{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 37px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #000000;
        text-align: justify;
    
        p:nth-child(1) {
            font-family: 'DIN Pro Regular';
            max-width: 503px;
            justify-self: end;
        }
        p:nth-child(2) {
            font-family: 'DIN Pro Regular';
            max-width: 509px;
            justify-self: start;
        }
        
    }
    
    .production_dosage{
        position: relative;
        margin-left: 18%;
        margin-top: 6rem;
        max-width: 1567px;
        font-family: 'DIN Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #585858;
        text-align: left;
    
        .production_dosage_title{
            left: 7.3%;
            position: absolute;
            max-width: 558px;
            height: 45px;
            text-align: left;
        }
        
        .production_dosage_image{
            position: absolute;
            margin-left: 7.23%;
    
            img{
                width: 1428px;
                height: 389px;
                overflow: hidden;
            }
        }
    
        .production_dosage_container {
            display: flex;
            flex-direction: row;
            flex-basis: 215px;
            justify-content: start;
            min-height: 870px;
            margin-top: 77px;
    
            .production_dosage_column{
                position: relative;
                
                .subtitle{
                    text-align: left;
                    font-family: 'DIN Pro Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #D30000;
                    margin-bottom: 35px;
                }
    
                .dosage_image {
                    text-align: left;
                    background: transparent;
                    cursor: pointer;
                }
            }
    
    
            .production_dosage_column:nth-child(1){
                margin-top: 45px;
                width: 20%;
                .dosage_image {
                    width: 159px;
                    height:150px;
                    margin-top: 87px;
                    margin-bottom: 63px;
                }
                
                .subtitle{
                    margin-left: 65px;
                }
            }
    
            .production_dosage_column:nth-child(2){
                width: 17%;
                .dosage_image {
                    width: 173px;
                    height: 152px;
                    margin-top: 265px;
                    margin-bottom: 55px;
                }
                .subtitle{
                    margin-left: 24px;
                }
            }
            .production_dosage_column:nth-child(3){
                margin-left: 30px;
                width: 18%;
                .dosage_image {
                    width: 159px;
                    height: 149px;
                    margin-left: 0px;
                    margin-top: 160px;
                    margin-bottom: 20px;
                }
                .subtitle{
                    margin-left: 32px;
                }
            }
            .production_dosage_column:nth-child(4){
                width: 16%;
                .dosage_image {
                    width: 176px;
                    height: 168px;
                    margin-left: 0px;
                    margin-top: 256px;
                    margin-bottom: 20px;
                }
                .subtitle{
                    margin-left: 10px;
                }
            }
    
            .production_dosage_column_box {
                border-right: 1px solid #D30000;
            }
    
            ul li {
                text-align: left;
                list-style: disc outside none;
                color: #000000;
                
                span{
                    line-height: 1.5rem !important;
                    word-wrap:  break-word;
                    font-family: 'DIN Pro Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;
                    word-wrap: break-word;
                    color: #000000;
                }
            }
        }
    }

    .production_dosage_draw {
        display: none;
    }
}