// For screens smaller than 768px (mobile)
@media only screen and (max-width: 767px) {
    #logistics_shipment_details {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            background-color: white;
            text-align: center;
            position: relative;
            overflow: hidden;

            .img_top {
                width: 100%;
                height: 135px;

                img {
                    width: 100%;
                    height: 135px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .logistics_shipment_details_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-top: 119px;

        .logistics_shipment_dash_box {
            border: 3px dashed #9C0000;
            position: absolute;
            top: 65px;
            width: 60%;
            height: 70%;
            z-index: 0;
        }

        .logistics_shipment_digit_box {
            position: relative;
            width: 135px;
            height: 143px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;

            .digit {
                font-family: 'DIN Pro Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 77px;
                color: #FFFFFF;
            }
        }

        .box1 {
            background: #9C0000;
        }

        .box2 {
            background: #AF0101;
        }

        .box3 {
            background: #C40101;
        }

        .box4 {
            background: #DC0202;
        }

        .logistics_shipment_detail_description {
            text-align: justify;
            width: 194px;
            z-index: 9;

            span {
                font-family: 'DIN Pro Regular';
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                color: #585858;

            }
        }

        .desc1 {
            margin-top: 78px;
        }

        .desc2 {
            margin-top: 58px;
        }

        .desc3 {
            margin-top: 48px;
        }

        .desc4 {
            margin-top: 58px;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 19px;
            }

        }

        .logistics_shipment_detail_image {
            width: 236px;
            height: 161px;
            margin-top: 63px;
            z-index: 9;
        }
    }
}

// For screens larger than 768px (desktop)
@media only screen and (min-width: 768px) {
    #logistics_shipment_details {
        padding-top: 0rem;
        @include centered;

        .container {
            width: 100%;
            background-color: white;
            text-align: center;
            position: relative;

            .img_top {
                width: 1920px;
            }

            h1 {
                font-family: 'DIN Pro Bold', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                color: #585858;
            }
        }
    }

    .logistics_shipment_details_wrapper {
        position: relative;
        max-width: 1120px;
        height: 768px;
        display: flex;
        justify-content: start;
        margin-top: 322px;
        margin-left: auto;
        margin-right: auto;

        .logistics_shipment_dash_box {
            border: 3px dashed #9C0000;
            position: absolute;
            height: 433px;
            z-index: 0;
        }

        .logistics_shipment_digit_box {
            position: relative;
            margin-top: 137px;
            width: 135px;
            height: 143px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;

            .digit {
                font-family: 'DIN Pro Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 77px;
                color: #FFFFFF;
            }
        }

        .dash1 {
            left: 70px;
            width: 762px;
        }

        .dash2 {
            left: 65px;
            width: 775px;
        }


        .dash3 {
            left: 67px;
            width: 775px;
        }

        .dash4 {
            left: 68px;
            width: 775px;
        }

        .box1 {
            margin-left: 0px;
            background: #9C0000;
        }

        .box2 {
            margin-left: 0px;
            background: #AF0101;
        }

        .box3 {
            margin-left: 0px;
            background: #C40101;
        }

        .box4 {
            margin-left: 0px;
            background: #DC0202;
        }

        .logistics_shipment_detail_description {
            text-align: justify;
            z-index: 9;

            span {
                font-family: 'DIN Pro Regular';
                font-weight: 700;
                font-size: 16px;
                line-height: 27px;
                color: #585858;

            }
        }

        .desc1 {
            margin-left: 85px;
            margin-top: 154px;
            width: 258px;
        }

        .desc2 {
            margin-left: 86px;
            margin-top: 128px;
            width: 309px;
        }

        .desc3 {
            margin-left: 74px;
            margin-top: 131px;
            width: 319px;
        }

        .desc4 {
            margin-left: 98px;
            margin-top: 131px;
            width: 264px;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 19px;
            }

        }

        .logistics_shipment_detail_image {
            width: 482px;
            height: 329px;
            margin-top: 50px;
            z-index: 9;
        }

        .img1 {
            margin-left: 117px;
        }

        .img2 {
            margin-left: 74px;
        }

        .img3 {
            margin-left: 78px;
        }

        .img4 {
            margin-left: 110px;
        }
    }
}